

body {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-weight: 300;
}

img {
    max-width: 100%;
}

input {
    max-width: 500px;
    margin: 0 auto;
}


#app {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-items: center;
    justify-content: center;
    @media (min-width: 576px) {
        grid-template-columns: 150px 150px;

    }
    @media (min-width: 720px) {
        grid-template-columns: 250px 250px;

    }
    @media (min-width: 720px) {
        grid-template-columns: 250px 250px 250px ;
    }
}
.modal-images-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
}

#cookieBar {
    display: none;
}

.gallery-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    @media (min-width: 720px) {
        width: 250px;
        height: 250px;
    }
    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}

.hidden {
    visibility: hidden !important;
}

.modal[data-slideshow="false"] {
    #stopSlideshow {
        display: none;
    }
    #startSlideshow {
        display: inline-block;
    }
}
.modal[data-slideshow="true"] {
    .modal-images-control {
        display: none;
    }
    #startSlideshow {
        display: none;
    }
    #stopSlideshow {
        display: inline-block;
    }
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}